.meta {
  display: flex;
  align-items: center;
  font-size: var(--body-s-size);
  line-height: var(--body-s-height);
  font-weight: var(--body-s-weight);
  color: var(--text-primary);
  gap: 8px;
  margin-bottom: 24px;
}

.metaLeft {
  display: flex;
  align-items: center;
}

.rating,
.location {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.rating,
.reviews {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  color: currentColor;
}

.location {
  margin-left: 16px;
}

.icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: inline-block;
  fill: currentColor;
}

.rating,
.reviews,
.location {
  color: var(--text-primary);
}
