.list {
  list-style: none;
  margin: 0;
  padding: 48px 64px 52px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.item {
  list-style: none;
  width: 100%;
  max-width: 888px;
}
