.page {
  padding: 40px 24px 60px;
}

.container {
  max-width: 1312px;
  margin: 0 auto;
}

.metaSection {
  margin-bottom: 40px;
}

.title {
  font-size: var(--h2-size);
  line-height: var(--h2-line);
  font-weight: var(--h2-weight);
  color: var(--text-primary);
  margin: 0 0 8px;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

.price {
  font-size: var(--h2-size);
  line-height: var(--h2-line);
  font-weight: var(--h2-weight);
  color: var(--text-primary);
  margin: 12px 0 0;
}

/* ======================================= */
.gallery {
  margin-top: 28px;
  margin-bottom: 28px;
  display: flex;
  gap: 24px;
}

.imageWrapper {
  width: 292px;
  height: 312px;
  overflow: hidden;
  border-radius: 12px;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

/* ===================================== */

.description {
  font-size: var(--body-s-size);
  line-height: var(--body-s-height);
  font-weight: var(--body-s-weight);
  color: var(--text-secondary);
  /* max-width: 480px; */
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
  margin-bottom: 24px;
}
