.container {
  max-width: 888px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid var(--border-light);
  background: var(--bg-card);
  justify-content: center;
}

.item {
  width: 840px;
  height: 320px;
  display: flex;
  gap: 24px;
}

/* ================================
================================= */

.imageWrapper {
  width: 292px;
  height: 320px;
  overflow: hidden;
  border-radius: 12px;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ================================
================================= */

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  position: relative;
}

.title {
  font-size: var(--h2-size);
  line-height: var(--h2-line);
  font-weight: var(--h2-weight);
  color: var(--text-primary);
  margin: 0;
  flex: 1 1 auto;
  min-width: 0;
  max-width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.headerRight {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  gap: 16px;
}
.price {
  font-size: var(--h2-size);
  line-height: var(--h2-line);
  font-weight: var(--h2-weight);
  color: var(--text-primary);
  margin: 0;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--body-s-size);
  line-height: var(--body-s-height);
  font-weight: var(--body-s-weight);
  color: var(--text-secondary);
  max-width: 480px;
  margin-bottom: 24px;
}

.link {
  align-self: flex-start;
  margin-top: auto;
  height: 56px;
  padding: 16px 40px;
  background-color: var(--btn-primary-bg);
  color: var(--color-white);
  font-size: var(--button-m-size);
  font-weight: var(--button-m-weight);
  line-height: var(--button-m-line);
  border-radius: 200px;
  transition: background-color 0.3s;
}

.link:hover {
  background-color: var(--btn-primary-bg-hover);
}
